.container-404{
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-404 p{
  font-size: 28px;
  color: #41414D;
  line-height: 32px;
  margin-top: 60px;
}
.container-404 p span{
  color: #e02041;
  font-weight: 700;

}
.container-404 img{
  width: 700px;
}
.container-404 .logo-404{
  position: relative;
  top: -50px;
  width: 200px;
}
.container-404-art{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@media(max-width: 768px){
  .container-404{
    width: 100vw;
  }
  .container-404 p{
    text-align: center;
  }
  .container-404 img{
    width: 80%;
  }
}